/*
 * Lay this page out - make it responsive, use grid, flex, position and media queries where needed.
 *
 * Colors-
 * Green: #14a96d
 * White: #fff
 * Light gray: #f4f5f6
 * Border gray: #cfd7de
 * Dark text: #1b1f23
 * Lighter text: #66727c
 * Blue for links: #06748a
 * Blue for hovered links: #033641
 */

/* Globals */

:root {
  --green: #14a96d;
  --white: #fff;
  --light-gray: #f4f5f6;
  --border-gray: #cfd7de;
  --dark-text: #1b1f23;
  --lighter-text: #66727c;
  --blue-for-links: #06748a;
  --blue-for-hovered-links: #033641;
  --content-wrapper-width: 1170px;
}

body {
  font-family: 'Cabin', sans-serif;
  font-size: 100%;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

picture {
  display: block;
}

a {
  color: var(--blue-for-links);
}

a:hover {
  color: var(--blue-for-hovered-links);
}

.content-wrapper {
  max-width: var(--content-wrapper-width);
  margin: 0 auto;
}

body {
  font-size: 100%;
  font-family: 'Cabin', sans-serif;
}

/* header */

header .content-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.875rem;
  padding: 1em;
}

header picture {
  max-width: 130px;
}

header nav {
  width: 100%;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

header ul div {
  display: flex;
  justify-content: space-between;
  padding: 0 1.25rem;
}

header ul li:not(:last-child) {
  margin-right: 1.25rem;
}

header a {
  color: var(--lighter-text);
  text-decoration: none;
}

/* hero */

.hero {
  min-height: 725px;
  background-image: url(../img/hero.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--dark-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero .content-wrapper div {
  max-width: 50%;
}

.hero h2 {
  font-size: 2.5rem;
  margin-top: 0;
}

.hero p {
  font-size: 2rem;
}

.button {
  display: block;
  text-decoration: none;
  color: var(--white);
  background-color: var(--green);
  padding: 1.5rem;
  text-align: center;
  border-radius: 4px;
}

.hero .button {
  width: 50%;
  max-width: 325px;
}

/* services */

.services {
  padding-top: 90px;
  padding-bottom: 90px;
}

.services h2 {
  text-align: center;
  margin-top: 0;
  font-size: 1.625rem;
  margin-bottom: 90px;
}

.services .row {
  display: flex;
  justify-content: space-between;
}

.services .row > * {
  width: 40%;
}

.services ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.services ul li {
  display: flex;
  margin-bottom: 18px;
}

.services ul li picture {
  width: 45px;
  margin-right: 18px;
}

.services ul li h3 {
  font-size: 1rem;
  margin: 0;
}

.services ul li p {
  margin: 0.5rem 0;
  color: var(--lighter-text);
}

.booking {
  color: var(--lighter-text);
}

.booking__settings {
  border-radius: 4px;
  border: 1px solid var(--border-gray);
  /* padding: 14px 25px; */
}

.booking__settings div:first-of-type {
  background-color: var(--light-gray);
  border-bottom: 1px solid var(--border-gray);
  display: flex;
  padding: 14px 25px;
  /* justify-content: center; */
  align-items: center;
}

.booking picture {
  width: 2rem;
  margin-right: 1rem;
}

.booking__settings div:last-of-type {
  padding: 14px 25px;
}

.booking ul {
  /* padding: 25px; */
}

.booking li:before {
  content: '\2714';
  display: inline-block;
  margin-right: 0.5rem;
  width: 1rem;
  color: var(--green);
}

.booking__settings .button {
  padding: 1em;
}

.booking > p {
  text-align: center;
}

/* quote */

.quote .content-wrapper {
  min-height: 500px;
  background-image: url(../img/hero-2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.quote blockquote {
  background-color: var(--white);
  border: 1px solid var(--border-gray);
  padding: 1.25rem;
  max-width: 360px;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.4;
  border-radius: 4px;
  position: absolute;
  top: -55px;
}

.quote blockquote::before {
  content: '';
  width: 40px;
  display: block;
  border: 1px solid var(--green);
}

.quote cite {
  color: var(--lighter-text);
}

.quote footer {
  font-size: 1rem;
  font-weight: normal;
}

/* steps */
.steps {
  padding: 90px 1.25rem;
  text-align: center;
}

.steps h2 {
  text-align: center;
  margin-top: 0;
  font-size: 1.625rem;
  margin-bottom: 90px;
}

.steps ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.steps ul li {
  padding: 0 1.25rem;
}

.steps header {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.steps header.search {
  background-image: url(../img/watchglass.png);
}

.steps header.phone {
  background-image: url(../img/phone.png);
}

.steps header.shield {
  background-image: url(../img/shield.png);
}

.steps p {
  color: var(--lighter-text);
}
