/*
 * Lay this page out - make it responsive, use grid, flex, position and media queries where needed.
 *
 * Colors-
 * Green: #14a96d
 * White: #fff
 * Light gray: #f4f5f6
 * Border gray: #cfd7de
 * Dark text: #1b1f23
 * Lighter text: #66727c
 * Blue for links: #06748a
 * Blue for hovered links: #033641
 */

/* Globals */

:root {
  --green: #14a96d;
  --white: #fff;
  --light-gray: #f4f5f6;
  --border-gray: #cfd7de;
  --dark-text: #1b1f23;
  --lighter-text: #66727c;
  --blue-for-links: #06748a;
  --blue-for-hovered-links: #033641;
  --content-wrapper-width: 1170px;
}

body {
  font-family: 'Cabin', sans-serif;
  font-size: 100%;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

picture {
  display: block;
}

a {
  color: black;
}

.content-wrapper {
  max-width: var(--content-wrapper-width);
  margin: 0 auto;
}

body {
  font-size: 100%;
  font-family: 'Cabin', sans-serif;
}

/* header */

header .content-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.875rem;
  padding: 1em;
}

header picture {
  max-width: 130px;
}

header nav {
  width: 100%;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

header ul div {
  display: flex;
  justify-content: space-between;
  padding: 0 1.25rem;
}

header ul li:not(:last-child) {
  margin-right: 1.25rem;
}

header a {
  color: var(--lighter-text);
  text-decoration: none;
}

/* hero */

.hero {
  min-height: 725px;
  background-image: url(../img/hero.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--dark-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero .content-wrapper div {
  max-width: 50%;
}

.hero h2 {
  font-size: 2.5rem;
  margin-top: 0;
}

.hero p {
  font-size: 2rem;
}

.hero a {
  display: block;
  text-decoration: none;
  color: var(--white);
  background-color: var(--green);
  padding: 1.5rem;
  text-align: center;
  border-radius: 4px;
  width: 50%;
  max-width: 325px;
}
