* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: var(--sans-serif);
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: var(--black);
  text-decoration: underline 2px var(--ga-red);
  text-underline-offset: 2px;

  &:hover {
    color: var(--ga-red);
  }

  &:focus,
  &:active {
    color: var(--black);
    text-decoration: underline 2px var(--black);
  }
}

p,
li {
  line-height: 1.35;
  max-width: 85ch;
}

blockquote {
  margin-left: 1rem;
  border-left: 2px solid var(--ga-red);
  padding-left: 1rem;
  font-style: italic;
}

table {
  border: 1px solid;
  border-collapse: collapse;
}

table tr:not(:last-child) td,
table tr th {
  border-bottom: 1px solid;
}

table tr td:not(:last-child),
table tr th:not(:last-child) {
  border-right: 1px solid;
}

table td,
table th {
  padding: 0.5em;
  text-align: start;
}

table th {
  text-align: center;
  background-color: var(--black);
  color: var(--white);
}
