* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: var(--sans-serif);
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: var(--black);
  text-decoration: none;
  border-bottom: 2px solid var(--ga-red);

  &:hover {
    color: var(--ga-red);
  }

  &:focus,
  &:active {
    color: var(--black);
    border-bottom: 2px solid var(--black);
  }
}

p,
li {
  line-height: 1.35;
}

blockquote {
  margin-left: 1rem;
  border-left: 2px solid var(--ga-red);
  padding-left: 1rem;
  font-style: italic;
}
